.header {   
    background-image: url('test6.webp'); 
    padding: 20px; 
    text-align: center; 
    font-family: 'Arial', sans-serif; 
    background-position: center;
    width: 100%;
    height: 100px;
    background-size: cover;
}
.head { border: 5px; border-radius: 20px; background-color: aquamarine;}
    
